<nav class="navbar">
  <div class="navwrapper">
    <ul class="nav-list">
      <li style="padding: 0; margin: 0; position: absolute">
        <img src="./img/logo.png" width="30" height="30" />
      </li>
      <li style="margin-left: 40px">
        <a href="/">
          <span>Water</span>
          <span>MARK</span>
        </a>
      </li>
      <li><a href="/about">About</a></li>
      <li><a href="/data">Data</a></li>
      <li><a href="/status">Status</a></li>
      <li></li>
    </ul>
    <div class="navTitle">Backend Server</div>
  </div>
</nav>
