<head>
<%- include('partials/head', {pageTitle: "WaterMARK Management"}) %>
<link rel="stylesheet" href="/css/home.css" />
</head>
<body>
  <%- include('partials/navbar') %>
  <%- include('partials/hometabs') %>

  

</body>
</html>

