/* navbar.css */
.navbar {
  background: linear-gradient(to top left, #2b2b2b, #707070);

  padding: 10px 20px;
  position: fixed; /* Add fixed positioning */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  width: 100%; /* Expand to full width */
}

.navwrapper {
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  list-style: none;
  display: flex;
  width: 30rem;
  min-width: 27rem;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

/* Add styles for the links */
.navbar a {
  color: black; /* Set the link color to black */
  text-decoration: none;
  font-weight: bold; /* Make the text bold */
  font-size: x-large;
  text-shadow: #bdbdbd 1px 0.5px 2px;
}

.navbar a:hover {
  text-shadow: #ffffff 2px 1px 2px;
}

.navbar li:nth-of-type(2) {
  flex: none;
}

.navbar li span:first-child {
  font-size: x-large;
  color: #418ee0;
  text-shadow: #000000 2px 1px 1px;
}

.navbar li span:nth-of-type(2) {
  font-size: x-large;
  color: #f8a538;
  text-shadow: black 2px 1px 1px;
  margin-left: -5px;
}

/* Align the last item to the far right */
.navTitle {
  flex: none;
  text-align: right;
  color: #ff6955;
  text-shadow: #000000 1px 1px 1px;
  font-size: x-large;
  font-weight: bold;
  cursor: default;
  padding-left: 1rem;
  border-left: 1px #bdbdbd double;
}
